.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 5rem;

  background:
    linear-gradient(
      135deg,
      rgb(85, 187, 255, 1) 0%,
      rgb(85, 187, 255, 0.8) 30%,
      rgb(85, 187, 255, 0.5) 55%,
      rgba(85, 187, 255, 0.2) 70%,
      rgb(85, 187, 255, 0) 100%
    ),
    url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.appInfo {
  max-width: 600px;
}
.appTitle {
  color: white;
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.1;
}
.appDescription {
  color: white;
  font-size: 1.25rem;
  line-height: 1.8;
}
.links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.signupLink {
  text-decoration: none;
  color: #40bac2;
  background-color: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
}
.loginLink {
  text-decoration: none;
  color: white;
  background-color: #4fe0ea;
  padding: 12px 24px;
  border-radius: 8px;
}
